@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
   * colors
  
   */
  --link-color: #126AF7;
  --btn-text-color: rgb(252, 252, 252);
 
  --bg-gradient-jet: linear-gradient(
    to bottom right, 
    rgba(33, 149, 243, 0.952) 0%, 
    rgba(35, 128, 204, 0.842) 100%
  ), rgb(41, 120, 203);
  
  --bg-gradient-blue-1: linear-gradient(
    to bottom right, 
    rgb(33, 150, 243) 0%, 
    rgba(22, 80, 150, 0.8) 93%
  );

  --bg-gradient-blue-2: linear-gradient(
    135deg, 
    rgba(33, 150, 243, 0.8) 0%, 
    rgba(11, 88, 140, 0.6) 100%
  ), rgb(41, 120, 203);

  --text-gradient-blue: linear-gradient(
    to right, 
    rgb(33, 150, 243),
    rgb(27, 103, 203)
  );

  /**
   * typography
   */

  /* font-family */
  --ff-poppins: 'Poppins', sans-serif;

  /* font-size */
  --fs-1: 24px;
  --fs-2: 18px;
  --fs-3: 17px;
  --fs-4: 16px;
  --fs-5: 15px;
  --fs-6: 14px;
  --fs-7: 13px;
  --fs-8: 11px;

  /* font-weight */
  --fw-300: 300;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;

  /**
   * shadow
   */
  
  --shadow-1: -4px 8px 24px hsla(0, 0%, 0%, 0.25);
  --shadow-2: 0 16px 30px hsla(0, 0%, 0%, 0.25);
  --shadow-3: 0 16px 40px hsla(0, 0%, 0%, 0.25);
  --shadow-4: 0 25px 50px hsla(0, 0%, 0%, 0.15);
  --shadow-5: 0 24px 80px hsla(0, 0%, 0%, 0.25);

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.1s ease-in-out;

}


body {
  font-size: 1.2rem;
  line-height: 1.6;
  background: var(--body-bg);
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  font-family: "Palatino", Palatino, serif;
  min-width: 420px;
}


/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a { text-decoration: none; }

li { list-style: none; }

img, ion-icon, a, button, time, span { display: block; }

button {
  font: inherit;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

button:focus {
  outline: none;
}

.sidebar-schedule-btn {
  background: #126AF7;
  border-radius: 5px;

  color: var(--btn-text-color);
  width: 80%;
  padding-top: 4px;
  padding-bottom: 4px;
  animation: pulse-animation 2s infinite;
   
  
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(33, 150, 240, 0.2);
  }
}

input, textarea {
  display: block;
  width: 100%;
  background: none;
  font: inherit;
}


:focus { outline-color: var(--btn-active-border-color); }

object {
    width: 100%;
    height: 800px;
}


/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.sidebar,
article {
  // background: var(--main-wrapper-bg);
  border-radius: 20px;
  padding: 15px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  min-width: 300px;
}

.separator {
  width: 100%;
  height: 1px;
  background: #126AF7;
  margin: 16px 0;
}

.icon-box {
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: #126AF7;
  box-shadow: var(--shadow-1);
  z-index: 1;
}

.icon-box::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  z-index: -1;
}

.icon-box ion-icon { --ionicon-stroke-width: 35px; }

article { display: none; }

article.active {
  display: block;
  animation: fade 0.5s ease backwards;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.h2,
.h3,
.h4,
.h5 {
  // color: var(--text-color);
  text-transform: capitalize;
  
}

.h2 { font-size: var(--fs-1); }

.h3 { font-size: var(--fs-2); }

.h4 { font-size: var(--fs-4); }

.h5 {
  font-size: var(--fs-7);
  font-weight: var(--fw-500);
}

.colorlib-heading {
  font-size: 1.75rem;
}



.article-title {
  position: relative;
  padding-bottom: 7px;
}

.article-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 30px;
  height: 3px;
  background: var(--text-gradient-blue);
  border-radius: 3px;
}

.has-scrollbar::-webkit-scrollbar {
  width: 5px; /* for vertical scrollbar */
  height: 5px; /* for horizontal scrollbar */
}

.has-scrollbar::-webkit-scrollbar-track {
  background: #126AF7;
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-thumb {
  background: #126AF7;
  border-radius: 5px;
}

.has-scrollbar::-webkit-scrollbar-button { width: 12px; }


/*-----------------------------------*\
  #MAIN
\*-----------------------------------*/

main {
  margin: 15px 12px;
  margin-bottom: 75px;
  min-width: 259px;
}

.text-image {
  width: 320px;
  height: 440px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.text-image:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  transform: scale(1.1);
}

.colorlib-narrow-content {
  margin-bottom: 16px;
}

/*-----------------------------------*\
  #SIDEBAR
\*-----------------------------------*/

.sidebar {
  margin-bottom: 15px;
  max-height: 154px;
  overflow: hidden;
  // transition: var(--transition-2);
}

.sidebar.active { max-height: 678px; }

.sidebar-info {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.avatar-box {
  border-radius: 20px;
  
}

.avatar-box img { border-radius: 30px; width: 120px; }

.info-content .name {
  // color: var(--text-color);
  font-size: var(--fs-2);
  font-weight: var(--fw-500);
  letter-spacing: -0.25px;
  margin-bottom: 10px;
}

.info-content .title {
  // color: var(--text-color);
  font-size: var(--fs-12);
  font-weight: var(--fw-300);
  width: max-content;
  padding: 3px 12px;
  border-radius: 8px;
}

.info_more-btn {
  position: absolute;
  top: -15px;
  right: -15px;
  border-radius: 0 15px;
  font-size: 13px;
  color: var(--btn-text-color);
  padding: 10px;
  box-shadow: var(--shadow-2);
  transition: var(--transition-1);
  z-index: 1;
}

.info_more-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  border-radius: inherit;
  background: var(--bg-gradient-jet);
  transition: var(--transition-1);
  z-index: -1;
}

.info_more-btn:hover,
.info_more-btn:focus { background: var(--bg-gradient-blue-1); }

.info_more-btn:hover::before,
.info_more-btn:focus::before { background: var(--bg-gradient-blue-2); }

.info_more-btn span { display: none; }

.sidebar-info_more {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition-2);
}

.sidebar.active .sidebar-info_more {
  opacity: 1;
  visibility: visible;
}

#job-contact {
  display: flex;
  justify-content: center;
}

.contacts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}

.contact-item {
  min-width: 100%;
  display: flex;
  align-items: center;
  gap: 12px;
}

.contact-info {
  max-width: calc(100% - 46px);
  width: calc(100% - 46px);
}

.contact-title {
  // color: var(--text-color);
  font-size: var(--fs-8);
  text-transform: uppercase;
  margin-bottom: 2px;
}

.contact-info :is(.contact-link, time, address) {
  // color: var(--text-color);
  font-size: var(--fs-4);
  text-decoration: none;
}

.contact-info address { font-style: normal; }


.side-footer{
  display: flex;
  justify-content:center;
}

.lang-form{
  display: flex;
}

.selected {
  color: var(--link-color);
  // transform: scale(1.2);
}

.social {
  display: flex;
  align-items: flex-end;
}

.social-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  padding-bottom: 4px;
  padding-left: 7px;
}

.social-item .social-link {
  color: #126AF7;
  font-size: 22px;
}



.social-item .social-link:hover { color: var(--btn-active-border-color); }


/*-----------------------------------*\
  #NAVBAR
\*-----------------------------------*/

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #126AF7;
  backdrop-filter: blur(10px);
  border: 1px solid var(--text-gradient-blue);
  border-radius: 12px 12px 0 0;
  box-shadow: var(--shadow-2);
  justify-content: center;
  z-index: 5;
}

.navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  margin-bottom: 0px;
}

.navbar-link {
  color: #2e2929;
  font-size: var(--fs-4);
  font-weight: var(--fw-600);
  padding: 12px 7px;
  transition: color var(--transition-1);
}

.navbar-link:hover,
.navbar-link:focus { color: var(--btn-text-color); }

.navbar-link.active { color: var(--btn-text-color); }



/*-----------------------------------*\
  #ABOUT
\*-----------------------------------*/

.about .article-title { margin-bottom: 15px; }


.about-text p { margin-bottom: 15px; }

.expertise-table {
  margin-top: 10px;
  font-size: 1.2rem;
  width: 75%;
}


/*-----------------------------------*\
  #RESUME
\*-----------------------------------*/

.show-link {
    color: #126AF7;;
    text-decoration: underline;
}

.article-title { margin-bottom: 30px; }


/**
 * education and experience 
 */

.timeline { margin-bottom: 30px; }

.timeline .title-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 25px;
}

.timeline-list {
  font-size: var(--fs-4);
  margin-left: 45px;
}

.timeline-item { position: relative; }

.timeline-item:not(:last-child) { margin-bottom: 20px; }

.timeline-item-title {
  font-size: var(--fs-4);
  line-height: 1.3;
  margin-bottom: 7px;
  font-weight: bold;
}

.timeline-list span {
  // color: var(--text-color);
  font-weight: var(--fw-400);
  line-height: 1.6;
}

.timeline-item:not(:last-child)::before {
  content: "";
  position: absolute;
  top: -25px;
  left: -30px;
  width: 1px;
  height: calc(100% + 50px);
  background: #126AF7;
}

.timeline-item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -33px;
  height: 6px;
  width: 6px;
  background: var(--text-gradient-blue);
  border-radius: 50%;
  box-shadow: 0 0 0 4px #126AF7;
  background: #126AF7;
}

.timeline-text {
  display: ruby-text;
  color: var(--blockquote-text-color);
  font-weight: var(--fw-300);
  line-height: 1.6;
}


/*-----------------------------------*\
  #BLOG
\*-----------------------------------*/

.blog-posts { margin-bottom: 10px; }

.blog-posts-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding:3%;
}

.card-thumbnail:hover {
  transform: scale(1.1);
}

.post-more-link {
  display: flex;
  justify-content: center;
}

.post-more-btn {
  background: #126AF7;
  border-radius: 5px;

  color: var(--btn-text-color);

  box-shadow: 0 2px 4px 0 rgb(0, 0, 0, 0.25);

  padding-top: 10px;
  padding-bottom: 10px;
  width: 150%;
  text-align: center;
}

.post-more-btn:hover {
  background: #1063e9;
  transform: scale(1.04);
  width: 150%;
}
/*-----------------------------------*\
  #CONTACT
\*-----------------------------------*/

.mapbox {
  position: relative;
  height: 250px;
  width: 100%;
  border-radius: 16px;
  margin-bottom: 30px;
  border: 1px solid #126AF7;
  overflow: hidden;
}

.mapbox figure { height: 100%; }

.mapbox iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.contact-form { margin-bottom: 10px; }

.form-title { margin-bottom: 20px; }

.input-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  gap: 25px;
  margin-bottom: 25px;
}

.form-input {
  // color: var(--text-color);
  font-size: var(--fs-6);
  font-weight: var(--fw-400);
  padding: 13px 20px;
  border: 1px solid #126AF7;
  border-radius: 14px;
  outline: none;
}

.form-input::placeholder { font-weight: var(--fw-500); }

.form-input:focus { border-color: #126AF7; }

textarea.form-input {
  min-height: 100px;
  height: 120px;
  max-height: 200px;
  resize: vertical;
  margin-bottom: 25px;
}

textarea.form-input::-webkit-resizer { display: none; }

.form-input:focus:invalid { border-color: var(--link-color); }

.form-btn {
  position: relative;
  width: 100%;
  color: var(--btn-text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 13px 20px;
  border-radius: 14px;
  font-size: var(--fs-6);
  text-transform: capitalize;
  box-shadow: var(--shadow-3);
  z-index: 1;
  transition: var(--transition-1);
}

.form-btn::before {
  content: "";
  position: absolute;
  inset: 1px;
  background: var(--bg-gradient-jet);
  border-radius: inherit;
  z-index: -1;
  transition: var(--transition-1);
}

.form-btn ion-icon { font-size: 16px; }

.form-btn:hover { background: var(--bg-gradient-blue-1); }

.form-btn:hover::before { background: var(--bg-gradient-blue-2); }

.form-btn:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}


.form-btn:disabled:hover::before { background: var(--bg-gradient-jet); }



/*--- post ---*/


.hidden {
  visibility: hidden !important;
}

.flex-grow-1 {
  -ms-flex-positive: 1!important;
  flex-grow: 1!important;
}

.disabled {
  color: rgb(206, 196, 196);
  pointer-events: auto;
  cursor: not-allowed;
}






